/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Lovers Quarrel', cursive;
font-family: 'Spectral', serif; */

/* Tag Selectors */

body {
    margin: 0;
    font-family: 'Josefin sans', serif;
}

button {
    font-family: 'Josefin sans', serif;
}

h1 {
    font-family: 'Spectral', serif;
    font-size: 2.25rem;

}

h2 {
    font-family: 'Spectral', serif;
    font-size: 2rem;
}

h3 {
    font-family: 'Spectral', serif;
    font-size: 2rem;
    padding-top: 2rem;
    margin: 0%;
}

/* Button styling */

.back-button {
    padding: 1.25rem 0;
}

.back-button a {
    color: #3D3D3D;
    text-decoration: none;
}

.back-button a:hover {
        color: #ff7644;
        text-decoration: none;
}

.button-primary{
    display:inline-block;
    padding: .6em 1.2em;
    border:0.1em solid #E65722;
    background-color: #E65722;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem 0.3rem;
    border-radius:0.25em;
    text-decoration:none;
    font-weight:300;
    font-size: 1rem;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

.button-primary-link {
    color: white;
    text-decoration: none;
}

.button-primary:hover{
    border:0.1em solid #ff7644;
    background-color:#ff7644;
}

.button-secondary {
    padding: .75em 1.2em;
    border:0.1em solid #E65722;
    background-color: #E6572200;
    margin:1rem 0.3rem;
    border-radius:0.25em;
    text-decoration: none;
    font-weight:300;
    font-size: 1rem;
    color:#E65722;
    text-align:center;
    transition: all 0.2s;
    height: 2.5rem;
}

.button-secondary-center {
    display: block;
    margin: 2rem auto;
}

.button-secondary:hover{
    background-color:#ff7644;
    border:0.1em solid #ff7644;
    color: white;
}

.button-travel-option {
    align-items: center;
    background-color: #E65722;
    border:0.1em solid #E65722;
    border-radius:0.25em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    display: flex;
    font-size: 1rem;
    padding: 0 1.2em;
    width: 100%;
}

.button-travel-option p {
    display: flex;
    padding: 0 10px;
}


.button-travel-option:hover {
    border:0.1em solid #ff7644;
    background-color:#ff7644;
}

/* Main title start */

.main-title {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 7rem;
    font-weight: normal;
    margin:0;
    padding: 5rem 0;
    text-align: center;
}

/* Main title end */

/* Holiday finder start */

#clear {
    font-family: 'Josefin sans', serif;
    font-size: 14px;
    position: relative;
    top: 1.25rem;
}

.holiday-block {
    display: inline-block;
    margin-right: 5em;
}

.holiday-block select {
    border-radius: 4px;
    font-family: 'Josefin Sans', serif;
    font-size: .875rem;
    padding: .6em 1.4em .5em .8em;
}

.holiday-block select:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.holiday-finder {
    background-color: #EFEFEF;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: max-content;
    padding: 1.875rem;
}

.label-holiday {
    font-family: 'Josefin Sans', sans-serif;
}

/* Holiday finder end */

/* Destinations start */

.section {
    padding: 2rem 0;
    text-align: center;
}

.section-title {
    margin-bottom: 1.875rem;
}

.section-background {
    background-color: #EFEFEF;
}

.article-card {
    display: inline-block;
}

.card-container {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 320px;
}

.card-container button {
    padding: .75em 1em;
    margin: 1rem;
    width: 30%;
}

.card-content {
    text-align: left;
}

.card-content h4 {
    margin: 1rem;
}

.card-content p {
    line-height: 1.4;
    margin: 1rem;
}

.card-img {
    border-radius: 4px 4px 0 0;;
    width: 100%;
}

/* Destinations end */

/* Content separator start */

.separator {
    background-color: #3D3D3D;
    padding: 2.5rem 0 5rem 0;
    text-align: center;
    width: 100%;
}

.separator h2 {
    color: white;
    margin-bottom: 3rem;
}

/* Content separator end */

/* footer start */
footer {
    align-items: center;
    background-color: #3D3D3D;
    padding: 2.5rem 0 2.5rem 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
}

footer p {
    display: inline-block;
    color: white;
}

/* footer end */