:root {
  --background: #273043;
  --text-dark: #9197ae;
  --text-light: #eff6ee;
}

*,
*::before,
*::after {
  font-family: "Darker Grotesque";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Bungee";
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--text-dark);
}

html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--text-dark);
  padding: 16px 16px 8px 16px;
}

body > footer {
  position: sticky;
  top: 100vh;
  text-align: end;
}

h1 {
  font-family: "Bungee";
  font-size: 3rem;
  margin: 0 0 32px 0;
}

h2 {
  font-weight: 400;
}

/* Font import start */
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.darker-grotesque-main {
  font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Font import end */

.hidden {
  display: none;
}

.input-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 24px 0;
}

#question-input {
  height: 48px;
  width: 420px;
  background-color: var(--text-dark);
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
}

#question-input::placeholder {
  color: var(--background);
}

#question-input:focus {
  background-color: var(--text-light);
  border: none;
  outline: none;
}

.ask-btn {
  font-family: "Bungee";
  height: 48px;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  padding: 0 24px;
  background-color: var(--text-dark);
  color: var(--background);
}

.ask-btn:hover {
  background-color: var(--text-light);
  transition: 300ms;
}

.user-question {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.thinking {
  font-size: 1.5rem;
}

.answer {
  font-family: "Bungee";
  font-size: 5rem;
  margin-top: 40px;
}

@media screen and (max-width: 430px) {
  body {
    padding: 16px 16px 8px 16px;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 32px;
  }

  h2 {
    font-size: 1.1rem;
    line-height: 150%;
  }

  #question-input {
    font-size: 1rem;
    width: 100%;
  }
  .ask-btn {
    width: 100%;
  }

  .user-question {
    font-size: 1rem;
    margin-bottom: 8px;
  }

  .thinking {
    font-size: 1rem;
  }
}
