.nav-container{
    align-items: center;
    background-color: #3D3D3D;
    display: flex;
    font-family: 'Spectral', serif;
    justify-content: space-between;
    padding: .7rem 5%;
    flex-wrap: wrap;
    /* flex-wrap is making sure the header links 
    wrap around the header logo */ 
}

.nav-option {
    display: inline-flex;
    list-style: none;
}

/* Logo and logotype start */

.logo-container-list {
    display: flex;
    align-items: center;
    padding: 0;
}

.nav-home {
    font-size: 1.75rem;
    font-weight: 500;
    padding-left: 1rem;
    text-decoration: none;
}

/* Logo and logotype end */

.nav-home, .nav-link  {
    color: #fff;
}

/* Nav links start */

.nav-link {
    font-size: 1.125rem;
    margin: auto 1.75rem;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Nav links end */

@media (max-width: 1051px){
    .nav-container{
        justify-content: center;
    }

    }